@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    margin: 50px;   
}

.every_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    padding: 3rem;
}

#sedans {
    background-color: hsl(31, 77%, 52%);
    background-size: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#suvs {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;        
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    margin: 2rem 0 2rem 0;
}

.text {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.7rem;
    margin-right: 1rem;
    display: block;
}

.learn_more {
    background-color: hsl(0, 0%, 95%);
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: 2px solid hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    margin: 2rem 0 0 0;
}

#btn_sedans {
    color: hsl(31, 77%, 52%);
}

#btn_suvs {
    color: hsl(184, 100%, 22%);
}

#btn_luxury {
    color: hsl(179, 100%, 13%);
}

#btn_sedans:hover {
    background-color: hsl(31, 77%, 52%);
    color:hsl(0, 0%, 95%);
    cursor: pointer;
}

#btn_suvs:hover {
    background-color: hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%);
    cursor: pointer;
}

#btn_luxury:hover {
    background-color: hsl(179, 100%, 13%);
    color:hsl(0, 0%, 95%);
    cursor: pointer;
}

.credits {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.credits a {
    text-decoration: none;
}

@media only screen and (min-width: 500px) {

    body {
        min-height: 100vh;
        min-width: 100vw;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .every_column {
        width: 300px;
    }

    .text {
        line-height: 1.7rem;
        margin-right: 0;
        margin-bottom: 5rem;
    }

    #sedans {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    #luxury {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}
