@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

.column {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 65%;
    border-radius: 10px;
    overflow: hidden;
}

.every_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 500px;
    padding: 50px;
}

#sedans {
    background-color: hsl(31, 77%, 52%);
    flex: 0.9;
}

#suvs {
    background-color: hsl(184, 100%, 22%);
    flex: 0.9;
     
}

#luxury {
    background-color: hsl(179, 100%, 13%);
    flex: 0.9;
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 2.7rem;
}

.text {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.7em;
    padding-bottom: 75px;
}

.learn_more {
    font-size: 15px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
    height: 50px;
    width: 150px;
    font-family: 'Lexend Deca', sans-serif;
}

#btn_sedans {
    color: hsl(31, 77%, 52%);
}

#btn_suvs {
    color: hsl(184, 100%, 22%);
}

#btn_luxury {
    color: hsl(179, 100%, 13%);
}

#btn_sedans:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

#btn_suvs:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

#btn_luxury:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.credits {
    padding-top: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
 }

 .credits a {
     text-decoration: none;
 }


@media screen and (max-width: 375px) {

    .container {
        height: max-content;
    }


    .column {
        flex-direction: column;
        margin: 20px 0 20px 0;
        width: 85vw;
    }

    .text {
        padding-bottom: 50px;
    }

    .title {
        padding: 20px 0 20px 0;
    }




}